In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn import datasets

In [4]:
import matplotlib.pyplot as plt

In [5]:
from sklearn.decomposition import PCA

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
iris = datasets.load_iris()

In [8]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [9]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [10]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [11]:
df= pd.DataFrame(np.c_[iris['data'],iris['target']],columns=iris['feature_names']+['target'])

In [12]:
df=df.astype({"target":int})

In [13]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [14]:
df.describe().T

                   count      mean       std  min  25%   50%  75%  max
sepal length (cm)  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal width (cm)   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal length (cm)  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal width (cm)   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5
target             150.0  1.000000  0.819232  0.0  0.0  1.00  2.0  2.0

In [15]:
X = df.drop('target',axis=1)

In [16]:
Y=df['target']

### Standardize the Dataset

In [17]:
std=StandardScaler().fit_transform(X)

In [18]:
pca=PCA(n_components=2)

In [77]:
pcomponents=pca.fit_transform(std)

In [81]:
pdf=pd.DataFrame(data = pcomponents,columns=['Principal Component 1', 'Principal Component 2'])

In [82]:
pdf

     Principal Component 1  Principal Component 2
0                -2.264703               0.480027
1                -2.080961              -0.674134
2                -2.364229              -0.341908
3                -2.299384              -0.597395
4                -2.389842               0.646835
..                     ...                    ...
145               1.870503               0.386966
146               1.564580              -0.896687
147               1.521170               0.269069
148               1.372788               1.011254
149               0.960656              -0.024332

[150 rows x 2 columns]

In [83]:
print(pca.explained_variance_ratio_*100)

[72.96244541 22.85076179]

In [84]:
print(sum(pca.explained_variance_ratio_*100))

95.81320720000166